body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, rgb(10,0,40), rgb(204, 8, 8));
    text-align: center;
    color:#fff;
}

.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,+50%);
    width: 30%;
    background-color: rgb(0,0,0,0.5);
    padding: 1em;
    border-radius: 10px;

}

button {
    background-color: slateblue;
    color: #fff;
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    cursor: pointer;

}

button:hover {
    background-color: steelblue;
}

.final-step,
.first-step {
    display: none;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

